.encounter[b-x2e1bgkdpc] {
    display: flex;
    flex-direction: row;
}

.side-column[b-x2e1bgkdpc] {
    display: flex;
    flex-direction: column;
    width: 20%;
    resize: horizontal;
    overflow: auto;
}

.battle-properties[b-x2e1bgkdpc] {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
    padding: 5px;
}

.property-header[b-x2e1bgkdpc] {
    font-weight: bold;
}

.main-column[b-x2e1bgkdpc] {
    text-align: center;
    flex-direction: column;
    width: 80%;
    resize: horizontal;
    overflow: auto;
}

.map[b-x2e1bgkdpc] {
    display: flex;
    flex: 100%;
    text-align: center;
    border: 2px solid black;
    margin-top: 10px;
}

.entities[b-x2e1bgkdpc] {
    display: flex;
    width: 100%;
}

.characters[b-x2e1bgkdpc] {
    flex: 50%;
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
}

.enemies[b-x2e1bgkdpc] {
    flex: 50%;
    border: 1px solid black;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}

.button[b-x2e1bgkdpc] {
    font-size: 16px;
    padding: 0px 0px;
    border: 1px solid black;
}
