.battle-properties[b-x2e1bgkdpc] {
    display: flex;
    float: left;
    width: 20%;
}

.map[b-x2e1bgkdpc] {
    float: center;
    height: 400px;
}

.entities[b-x2e1bgkdpc] {
    display: flex;
    width: 100%;
}

.characters[b-x2e1bgkdpc] {
    flex: 50%;
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 5px;
}

.enemies[b-x2e1bgkdpc] {
    flex: 50%;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 15%;
}
