.battle-properties {
    display: flex;
    float: left;
    width: 20%;
}

.map {
    float: center;
    height: 400px;
}

.entities {
    display: flex;
    width: 100%;
}

.characters {
    flex: 50%;
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 5px;
}

.enemies {
    flex: 50%;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 15%;
}
