.encounter {
    display: flex;
    flex-direction: row;
}

.side-column {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.battle-properties {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
    padding: 5px;
}

.main-column {
    text-align: center;
    flex-direction: column;
    width: 85%;
}

.map {
    display: flex;
    flex: 100%;
    text-align: center;
    border: 2px solid black;
    margin-top: 10px;
}

.entities {
    display: flex;
    width: 100%;
}

.characters {
    flex: 50%;
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
}

.enemies {
    flex: 50%;
    border: 1px solid black;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}

.button {
    font-size: 16px;
    padding: 0px 0px;
    border: 1px solid black;
}
